@charset "UTF-8";

/*스크롤 없앰*/
html {
    overflow: hidden;
}

.wrap {
    width:100%;
    height: auto;
}

img {
    border:1px solid #ccc;
}

article {
    width:100%;
    height: 100vh;
    padding: calc(100%-1920px);
}

article > div {
    width:1400px;
    height: 100vh;
    margin:0 auto;
    display: flex;
    overflow: hidden;
}

article > div > img {
    width:100%;
    vertical-align: bottom;
}

.content-box {
    color: #000;
    font-family: Pretendard;
    display: flex;
    flex-direction: column;
    padding: 150px 0 0 37px;
}

.content-box p {
    font-size: 35px;
    font-style: normal;
    margin-bottom:5px;
    font-weight: 600;
    line-height: normal;
} 

.content-box .title {
    width:523px;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
}

.content-box span {
    margin-top:30px;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
}


.article-box1 {
    background-image: url(../../img/main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.article-box1 .content-box {
    font-family: GmarketSans;
    padding:308px 0 0 134px;
    color:#fff;
}

.article-box1 .content-box .title {
    font-size: 45px;
    width:432px;
}

.article-box1 ul{
    display: flex;
    justify-content: space-between;
    width:420px;
}

.article-box1 .content-img img{
    height:100%;
    width:auto;
}



/*콘텐츠 이미지영역*/
.content-img {
    width:auto;
    height: 100%;
}

/*animation*/

@keyframes bounce {
    0% , 100%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


.article-box6 .content-box .title{
    width:453px;
}

.article-box6 .link-box {
    width:548px;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom:315px;
    left:345px;
}

.link-btn {
    display: none;
}

.qr-box {
    width:245px;
    border:1px solid #ddd;
    height: 50px;
    border-radius: 50px;
}



.slider-area {
    width:15px;
    height: 260px;
    position:fixed;
    bottom:200px;
    right:220px;
    transition: all 1s ease-out;
}

.slider-area > div {
    margin-bottom:30px;
    border:1px solid aqua;
    border-radius: 20px;
    width:15px;
    height: 15px;
}

.slider-area > div.active {
    background-color:aqua;
    width:15px;
    height: 15px;
}

.slider-area > div:last-child {
    margin-bottom:0;
}



@media (max-width:1398.98px) {

    article > div {
        width:100%;
    }
    .article-box6 .link-box {
        width: 548px;
        height: auto;
        display: flex;
        justify-content: space-between;
        bottom: 200px;
        left: 50%;
        transform: translateX(-50%);
    }

    .article-box6 .link-box {
        width:450px;
    }

    .qr-box {
        width:200px;
    }
    
    .slider-area {
        right:100px;
    }

}



@media (max-width:998.98px) {

    article > div {
        width:100%;
        display: flex;
        flex-direction: column;
    }

    .content-box {
        display: flex;
        flex-direction: column;
        padding: 150px 0 0 37px;
    }
    
    .article-box1 .content-box {
        padding:139px 0 0 25px;
        z-index: 100;
    }

    .article-box1 .content-box p {
        font-size: 20px;
        font-weight: 400;
    }

    .article-box1 .content-box .title {
        font-size: 27px;
        font-weight: 400;
    } 
    
    .article-box6 .content-box {
        padding:282px 0 0 25px;
    }

    .article-box6 .content-box img {
        width:236px;
    }

    .article-box6 .link-box {
        width:70%;
        height: auto;
        bottom:0;
        left:50%;
        transform: translateX(-50%);
        display: none;
    }
    .article-box6  .link-btn {
        display: block;
        margin: 60px 0 0 25px;
        z-index: 600;
    }
    

}

@media (max-width:768.98px) {


    .content-box p {
        font-size: 20px;
    } 
    
    .content-box .title {
        width:auto;
        font-size: 27px;
    }
    
    .content-box span {
        font-size: 14px;
        margin-top:10px;
    }
   
    .content-box {
        padding:100px 0 60px 25px;
        position: static;
    }


    .article-box1 .link-btn {
        margin:35px 0 0 0;
    }
      

    .slider-area {
        width:15px;
        height: 140px;
        right:25px;
        top:127px;
    }
    
    .slider-area > div {
        margin-bottom:16px;
        width:100%;
    }    

}